@page "/"

@using GuieMe.Domain.Enums;
@using GuieMe.Domain.Helpers;
@using GuieMe.Views.Components;
@using GuieMe.Domain.Interfaces;

@inject ILocalService LocalService
@inject IObjetivoService _objetivoService
@inject DialogService DialogService

<div class="header">
    <div class="rz-p-xl-12 rz-text-align-end rz-mb-2 rz-mr-2">
        <AppMenu_component></AppMenu_component>
    </div>

    <div class="rz-p-xl-12 rz-text-align-center rz-mb-2">
        <RadzenText TextStyle="TextStyle.H5" TagName="TagName.H3" style="color: #FFF200;">Local atual</RadzenText>
        <RadzenDropDown class="rz-border-radius-10" Data="@locaisAcessiveis" TextProperty="Nome" ValueProperty="Id" @bind-Value=@valorSelecionadoLocalPartida AllowClear="true"
                        AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Placeholder="Selecione um local de partida"
                        Change=@(id_Local => SelectLocalPartida(id_Local)) Style="width: 95%; max-width: 400px;">
        </RadzenDropDown>
    </div>

    <div class="rz-p-xl-12 rz-text-align-center rz-mb-5">
        <RadzenText TextStyle="TextStyle.H5" TagName="TagName.H3" style="color: #FFF200;">Destino</RadzenText>
        <RadzenDropDown class="rz-border-radius-10" Data="@locaisAcessiveis" TextProperty="Nome" ValueProperty="Id" @bind-Value=@valorSelecionadoLocalDestido AllowClear="true"
                        AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Placeholder="Selecione um local de destino"
                        Change=@(id_Local => SelectLocalDestino(id_Local)) Style="width: 95%; max-width: 400px;">
        </RadzenDropDown>
    </div>

    <div class="rz-p-xl-12 rz-text-align-center rz-mb-2">
        <RadzenButton Click=@(args => OnClickCheckpoint()) Text="Checkpoint" Icon="explore" class="rz-border-radius-10 rz-shadow-10" ButtonStyle="ButtonStyle.Warning" Style="background-color: #FFF200; color: #263A7F;" />
    </div>
    <div class="rz-p-xl-12 rz-text-align-center">
        <RadzenButton Click=@(async args => await OnClickVoltarCheckpoint())
                      Text="Voltar Checkpoint"
                      Icon="explore"
                      class="rz-border-radius-10 rz-shadow-10"
                      ButtonStyle="ButtonStyle.Warning"
                      Style="background-color: #FFF200; color: #263A7F;" />

        <RadzenButton Click=@(args => OnClickInfoCheckpoint())
                      Icon="help_outline"
                      ButtonStyle="ButtonStyle.Primary"
                      class="rz-border-radius-10 rz-shadow-10"
                      Style="background-color: #FFF200; color: #263A7F;" />
    </div>
</div>

@if (locais != null && locais.Any())
{
    <RadzenTabs Change=@OnChangeAndar @bind-SelectedIndex=@indexAndarAtivo TabPosition="TabPosition.Top" RenderMode="TabRenderMode.Client">
        <Tabs>
            <RadzenTabsItem Disabled="@dabilitarTab" Text="Térreo">
                <Mapa_component @ref="mapaTerreo" locais="@getLocaisAndar(1)" _posicoesRota="@_posicoesRota" latitudeUsuario="@usuarios.LatitudeAtual" longitudeUsuario="@usuarios.LongitudeAtual"></Mapa_component>
            </RadzenTabsItem>
            <RadzenTabsItem Disabled="@dabilitarTab" Text="Primeiro Andar">
                <Mapa_component @ref="mapaPrimeiroAndar" locais="@getLocaisAndar(2)" _posicoesRota="@_posicoesRota" latitudeUsuario="@usuarios.LatitudeAtual" longitudeUsuario="@usuarios.LongitudeAtual"></Mapa_component>
            </RadzenTabsItem>
            @*<RadzenTabsItem Text="Segundo Andar">
        <Mapa_component @ref="mapaSegundoAndar" locais="@getLocaisAndar(3)" _posicoesRota="@_posicoesRota" latitudeUsuario="@usuarios.LatitudeAtual" longitudeUsuario="@usuarios.LongitudeAtual"></Mapa_component>
        </RadzenTabsItem>*@
        </Tabs>
    </RadzenTabs>
}

@code {
    private Mapa_component mapaTerreo;
    private Mapa_component mapaPrimeiroAndar;
    private Mapa_component mapaSegundoAndar;

    private int indexAndarAtivo = 0;

    static int tamanhoPosicaoPX { get; set; } = 30;

    int valorSelecionadoLocalPartida;
    int valorSelecionadoLocalDestido;

    List<Local> locaisAcessiveis;
    List<Local> locais;
    List<Andar> andares;

    List<Tuple<int, int>> paredes = new();
    List<Tuple<int, int>> escadas = new();

    public string _posicoesRota { get; set; }

    public int latitudeEscada { get; set; }
    public int longitudeEscada { get; set; }


    public int latitudePartida { get; set; }
    public int longitudePartida { get; set; }

    public int latitudeDestino { get; set; }
    public int longitudeDestino { get; set; }

    public Usuario usuarios = new();
    public Local localSelecionadoDestino = new();
    public Local localSelecionadoPartida = new();

    public Andar andarPartida = new();
    public Andar andarDestino = new();

    public List<(int latitude, int longitude)> posicoes { get; set; } = new();
    public List<Local> locaisAnteriores { get; set; } = new();

    public Local escadaCheckpoint { get; set; }

    public bool dabilitarTab { get => !string.IsNullOrEmpty(_posicoesRota); }

    protected override async Task OnInitializedAsync()
    {
        _objetivoService.ConcluirObjetivo(Constants.LocalAtualId);
        locais = LocalService.Locais();
        andares = LocalService.Andares();
        locaisAcessiveis = locais.FindAll(local => local.LocalAcessivel == true);

        locaisAnteriores.Add(locais.FirstOrDefault(x => x.Id == 0));

        //if (posicoes.Count > 0)
        //{
        //    await VerificaSeChegouAoDestino(usuarios.LatitudeAtual, usuarios.LongitudeAtual);
        //}
    }

    List<Local> getLocaisAndar(int piso)
    {
        var locaisAndar = locais.Where(x => x.Pisoo == piso).ToList();
        return locaisAndar;
    }

    public void OnClickInfoCheckpoint()
    {
        var mensagem = $@"
    1- O botão de checkpoint leava para o próximo ponto de referencia;<br><br>
    2- O botão de voltar checkpoint volta para o ponto de referencia anterior.";
        DialogService.Alert(mensagem, "Checkpoint Duvidas", new AlertOptions() { OkButtonText = "Ok" }); //TODO: Arrumar texto
    }

    void OnChangeAndar(int index)
    {
        indexAndarAtivo = index;
        ZerarRota();

        //foreach (var local in locais) //TODO: analisar
        //{
        //    var pisoDoAndarAtivo = andares.Find(andar => andar.IndexAndar == (int)indexAndarAtivo);

        //    if (local.Escada == true)
        //    {
        //        local.Pisoo = pisoDoAndarAtivo.Pisoo;
        //    }
        //StateHasChanged(); //notifica o componente para atualizar a interface com as alterações mais recentes.
        //}
    }

    public async Task OnClickCheckpoint()
    {
        foreach (var posicao in posicoes)
        {
            foreach (var local in locaisAcessiveis)
            {
                var piso = andares.Find(andar => andar.Pisoo == local.Pisoo);

                if (piso.IndexAndar == indexAndarAtivo) //TODO: checkpoint com raio muito pequeno. exemplo papelaria para laboratorio
                {
                    bool latitudeCheckpoint = posicao.latitude == local.LatitudeEntrada
                        || posicao.latitude + 1 == local.LatitudeEntrada
                        || posicao.latitude - 1 == local.LatitudeEntrada;

                    bool longitudeCheckpoint = posicao.longitude == local.LongitudeEntrada
                        || posicao.longitude + 1 == local.LongitudeEntrada
                        || posicao.longitude - 1 == local.LongitudeEntrada;

                    if (latitudeCheckpoint && longitudeCheckpoint)
                    {
                        if (local.Id != valorSelecionadoLocalPartida)
                        {
                            locaisAnteriores.Add(local);

                            usuarios.LatitudeAtual = local.LatitudeEntrada;
                            usuarios.LongitudeAtual = local.LongitudeEntrada;
                            valorSelecionadoLocalPartida = local.Id;

                            if (local.Escada == true && localSelecionadoDestino.Pisoo != usuarios.PisoAtual)
                            {
                                escadaCheckpoint = local;
                                if (localSelecionadoDestino.Pisoo > usuarios.PisoAtual)
                                {
                                    await MostrarMensagemEscada("Subir");
                                }
                                else
                                {
                                    await MostrarMensagemEscada("Descer");
                                }
                            }
                            else
                            {
                                SelectLocalPartida(local.Id);
                            }
                            return;
                        }
                    }
                }
            }
        }
    }

    public async Task OnClickVoltarCheckpoint() //TODO: voltar checkpoint quando muda de andar
    {
        if (!locaisAnteriores.Any()) return;

        var localAnterior = locaisAnteriores.Last();

        if (usuarios.LongitudeAtual == localAnterior.LongitudeEntrada
            && usuarios.LatitudeAtual == localAnterior.LatitudeEntrada
            && usuarios.PisoAtual == localAnterior.Pisoo)
        {
            locaisAnteriores.Remove(localAnterior);
            localAnterior = locaisAnteriores.Last();
        }

        if (localAnterior.Escada) 
            localAnterior = locais.FindLast(o 
                => o.LatitudeEntrada == localAnterior.LatitudeEntrada 
                    && o.LongitudeEntrada == localAnterior.LongitudeEntrada 
                    && o.Pisoo == usuarios.PisoAtual);

        if (localAnterior == null) return;

        locaisAnteriores.Remove(locaisAnteriores.Last());
        selecionarLocalCheckpoint(localAnterior);

        if (localAnterior.Escada == false)//TODO: Nao funciona quando usado o dialog de confirmacao (false fixado pra nao usar)
        {
            SelectLocalPartida(localAnterior.Id);
            return;
        }

        var mensagemEscada = locaisAnteriores.Last().Pisoo > localAnterior.Pisoo ? "Subir" : "Descer";
        var result = await DialogService.Confirm("Obs.: Negar está opção ira zerar a rota.", $"{mensagemEscada} escadas?", new Radzen.ConfirmOptions() { OkButtonText = "Sim", CancelButtonText = "Não" });

        if (result.Value == false) return;

        localAnterior = locaisAnteriores.Last();

        selecionarLocalCheckpoint(localAnterior);
        SelectLocalPartida(localAnterior.Id);
    }

    public void SelectLocalPartida(object id_Local, bool trocarAndar = true, bool mostrarMensagemEscada = true)
    {
        if (id_Local != null)
        {
            localSelecionadoPartida = locais.Find(local => local.Id == (int)id_Local);

            if (localSelecionadoPartida != null)
            {
                latitudePartida = localSelecionadoPartida.LatitudeEntrada;
                longitudePartida = localSelecionadoPartida.LongitudeEntrada;

                usuarios.LatitudeAtual = localSelecionadoPartida.LatitudeEntrada;
                usuarios.LongitudeAtual = localSelecionadoPartida.LongitudeEntrada;
                usuarios.PisoAtual = localSelecionadoPartida.Pisoo;
            }

            if (trocarAndar)
            {
                andarPartida = andares.Find(andar => andar.Pisoo == localSelecionadoPartida.Pisoo);

                OnChangeAndar(andarPartida.IndexAndar);
            }

            if (latitudeDestino != 0 && longitudeDestino != 0)
            {
                if (andarPartida.IndexAndar == indexAndarAtivo)
                {
                    VerificarCaminhoValido(latitudeDestino, longitudeDestino, mostrarMensagemEscada);
                }
            }
        }
    }

    public void SelectLocalDestino(object id_Local)
    {
        if (id_Local != null)
        {
            localSelecionadoDestino = locais.Find(local => local.Id == (int)id_Local);

            if (localSelecionadoDestino != null)
            {
                latitudeDestino = localSelecionadoDestino.LatitudeEntrada;
                longitudeDestino = localSelecionadoDestino.LongitudeEntrada;
            }
            else
            {
                latitudeDestino = 0;
                longitudeDestino = 0;

                ZerarRota();
            }
        }

        andarDestino = andares.Find(andar => andar.Pisoo == localSelecionadoDestino.Pisoo);

        if (latitudeDestino != 0 && longitudeDestino != 0)
        {
            VerificarCaminhoValido(latitudeDestino, longitudeDestino, false);
        }
    }

    public async void VerificarCaminhoValido(int latitudeDestino, int longitudeDestino, bool mostrarMensagemEscada)
    {
        ZerarRota();

        var posicaoInicialUsuario = (0, 0); /*ver se deixo 0 mesmo*/

        if (localSelecionadoPartida != null)
        {
            if (localSelecionadoPartida.Id == 0 || usuarios.LatitudeAtual == latitudeEscada && usuarios.LongitudeAtual == longitudeEscada) //TODO: analisar
            {
                posicaoInicialUsuario = (usuarios.LatitudeAtual, usuarios.LongitudeAtual);
            }
            else
            {
                posicaoInicialUsuario = (latitudePartida, longitudePartida);
                usuarios.LatitudeAtual = latitudePartida;
                usuarios.LongitudeAtual = longitudePartida;
            }
        }
        else
        {
            posicaoInicialUsuario = (usuarios.LatitudeAtual, usuarios.LongitudeAtual);
        }

        var destino = (latitudeDestino, longitudeDestino);

        var vizinhosValidos = new HashSet<(int, int)>(); //HashSet: não permite elementos repitidos na lista
        var posioesAnalisar = new Queue<(int latitude, int longitude)>(); //Queue: fila, os elementos entram e saem em uma ordem especifica
        var posicoesEvizinhosVerificados = new Dictionary<(int, int), (int, int)>(); //Dictionary: armazena chave-valor

        posioesAnalisar.Enqueue(posicaoInicialUsuario); //Enqueue: adiciona um elemento ao final da fila(Queue)

        if (andarDestino.IndexAndar != indexAndarAtivo && !(VerificarEscada(usuarios.LatitudeAtual, usuarios.LongitudeAtual)))
        {
            while (posioesAnalisar.Count > 0)
            {
                var primeiraPosicaoFila = posioesAnalisar.Dequeue(); //Dequeue: remove e retorna o primeiro elemento(que entrou) da fila(Queue)

                if (VerificarEscada(primeiraPosicaoFila.latitude, primeiraPosicaoFila.longitude))
                {
                    latitudeEscada = primeiraPosicaoFila.latitude;
                    longitudeEscada = primeiraPosicaoFila.longitude;

                    var rota = new List<(int latitude, int longitude)>();

                    while (primeiraPosicaoFila != posicaoInicialUsuario)
                    {
                        rota.Add(primeiraPosicaoFila);
                        primeiraPosicaoFila = posicoesEvizinhosVerificados[primeiraPosicaoFila]; //atualiza primeiraPosicao == indice da primeiraPosicao
                    }
                    rota.Reverse();

                    foreach (var posicao in rota)
                    {
                        posicoes.Add(posicao);
                    }
                    break;
                }

                var vizinhos = new List<(int latitude, int longitude)>
            {
                (primeiraPosicaoFila.latitude + 1, primeiraPosicaoFila.longitude),
                (primeiraPosicaoFila.latitude - 1, primeiraPosicaoFila.longitude),
                (primeiraPosicaoFila.latitude, primeiraPosicaoFila.longitude - 1),
                (primeiraPosicaoFila.latitude, primeiraPosicaoFila.longitude + 1),
            };

                foreach (var vizinho in vizinhos)
                {
                    if (!VerificarParede(vizinho.latitude, vizinho.longitude) && !vizinhosValidos.Contains(vizinho))
                    {
                        vizinhosValidos.Add(vizinho);
                        posioesAnalisar.Enqueue(vizinho);
                        posicoesEvizinhosVerificados[vizinho] = primeiraPosicaoFila; //chave-valor == vizinho-posicaoAnalisada
                    }
                }
            }
        }
        else if (VerificarEscada(usuarios.LatitudeAtual, usuarios.LongitudeAtual) && andarDestino.IndexAndar != indexAndarAtivo)
        {
            if (localSelecionadoDestino.Pisoo > usuarios.PisoAtual && mostrarMensagemEscada)
            {
                await MostrarMensagemEscada("Subir");
            }
            else if (mostrarMensagemEscada)
            {
                await MostrarMensagemEscada("Descer");
            }
        }
        else
        {
            while (posioesAnalisar.Count > 0)
            {
                var primeiraPosicaoFila = posioesAnalisar.Dequeue(); //Dequeue: remove e retorna o primeiro elemento(que entrou) da fila(Queue)

                if (primeiraPosicaoFila == destino)
                {
                    var rota = new List<(int latitude, int longitude)>();

                    while (primeiraPosicaoFila != posicaoInicialUsuario)
                    {
                        rota.Add(primeiraPosicaoFila);
                        primeiraPosicaoFila = posicoesEvizinhosVerificados[primeiraPosicaoFila]; //atualiza primeiraPosicao == indice da primeiraPosicao
                    }
                    rota.Reverse();

                    foreach (var posicao in rota)
                    {
                        posicoes.Add(posicao);
                    }
                    break;
                }

                var vizinhos = new List<(int latitude, int longitude)>
                {
                    (primeiraPosicaoFila.latitude + 1, primeiraPosicaoFila.longitude),
                    (primeiraPosicaoFila.latitude - 1, primeiraPosicaoFila.longitude),
                    (primeiraPosicaoFila.latitude, primeiraPosicaoFila.longitude - 1),
                    (primeiraPosicaoFila.latitude, primeiraPosicaoFila.longitude + 1),
                };

                foreach (var vizinho in vizinhos)
                {
                    if (!VerificarParede(vizinho.latitude, vizinho.longitude) && !vizinhosValidos.Contains(vizinho))
                    {
                        vizinhosValidos.Add(vizinho);
                        posioesAnalisar.Enqueue(vizinho);
                        posicoesEvizinhosVerificados[vizinho] = primeiraPosicaoFila; //chave-valor == vizinho-posicaoAnalisada
                    }
                }
            }
        }

        GerarRota();
    }

    public bool VerificarParede(int latitude, int longitude)
    {
        if (indexAndarAtivo == 0)
        {
            return mapaTerreo.paredes.Any(p => p.Item1 == latitude && p.Item2 == longitude);
        }
        else if (indexAndarAtivo == 1)
        {
            return mapaPrimeiroAndar.paredes.Any(p => p.Item1 == latitude && p.Item2 == longitude);
        }
        else
        {
            return mapaSegundoAndar.paredes.Any(p => p.Item1 == latitude && p.Item2 == longitude);
        }
    }

    public bool VerificarEscada(int latitude, int longitude)
    {
        if (indexAndarAtivo == 0)
        {
            return mapaTerreo.escadas.Any(p => p.Item1 == latitude && p.Item2 == longitude);
        }
        else if (indexAndarAtivo == 1)
        {
            return mapaPrimeiroAndar.escadas.Any(p => p.Item1 == latitude && p.Item2 == longitude);
        }
        else
        {
            return mapaSegundoAndar.escadas.Any(p => p.Item1 == latitude && p.Item2 == longitude);
        }

    }

    public void GerarRota()
    {
        var posicoesRota = new List<string>();

        foreach (var posicao in posicoes)
        {
            var latitudePosicaoPX = posicao.latitude * tamanhoPosicaoPX + tamanhoPosicaoPX / 2;
            var longitudePosicaoPX = posicao.longitude * tamanhoPosicaoPX + tamanhoPosicaoPX / 2;

            posicoesRota.Add($"{latitudePosicaoPX},{longitudePosicaoPX}");
        }
        _posicoesRota = string.Join(" ", posicoesRota);
    }

    //public async Task VerificaSeChegouAoDestino(int latitudeAtual, int longitudeAtual)
    //{
    //    VerificarCaminhoValido(latitudeDestino, longitudeDestino);

    //    if (latitudeAtual == latitudeDestino && longitudeAtual == longitudeDestino)
    //    {
    //        await MostrarModal();
    //    }
    //}

    private async Task MostrarMensagemEscada(string direcao)
    {
        var result = await DialogService.Confirm("Obs.: Negar está opção ira zerar a rota.", $"{direcao} escadas?", new Radzen.ConfirmOptions() { OkButtonText = "Sim", CancelButtonText = "Não" });

        if (result == true)
        {
            var proximoAndar = 0;

            if (direcao == "Subir")
            {
                proximoAndar = localSelecionadoPartida.Pisoo + 1;
                var indexProximoAndar = andares.Find(andar => andar.Pisoo == proximoAndar);

                OnChangeAndar(indexProximoAndar.IndexAndar);

                if (escadaCheckpoint != null)
                {
                    var local = locais.First(x => x.Pisoo == proximoAndar
                        && x.LongitudeEntrada == escadaCheckpoint.LongitudeEntrada
                        && x.LatitudeEntrada == escadaCheckpoint.LatitudeEntrada);

                    //SelectLocalPartida(local.Id, false);
                    valorSelecionadoLocalPartida = local.Id;
                    SelectLocalPartida(local.Id, false, false);
                    escadaCheckpoint = null;
                }
                //foreach (var local in locais)
                //{
                //    if (local.Escada == true)
                //    {
                //        local.Pisoo += 1;
                //    }
                //}
            }
            else
            {
                proximoAndar = localSelecionadoPartida.Pisoo - 1;
                var indexProximoAndar = andares.Find(andar => andar.Pisoo == proximoAndar);

                OnChangeAndar(indexProximoAndar.IndexAndar);

                if (escadaCheckpoint != null)
                {
                    var local = locais.First(x => x.Pisoo == proximoAndar
                        && x.LongitudeEntrada == escadaCheckpoint.LongitudeEntrada
                        && x.LatitudeEntrada == escadaCheckpoint.LatitudeEntrada);

                    //SelectLocalPartida(local.Id, false);
                    valorSelecionadoLocalPartida = local.Id;
                    SelectLocalPartida(local.Id, false, false);
                    escadaCheckpoint = null;
                }

                //foreach (var local in locais)
                //{
                //    if (local.Escada == true)
                //    {
                //        local.Pisoo -= 1;
                //    }
                //}
            }

            VerificarCaminhoValido(latitudeDestino, longitudeDestino, false);
        }
        else
        {
            ZerarRota();
        }
    }

    public void ZerarRota()
    {
        posicoes.Clear();
        this._posicoesRota = null;
    }

    private void selecionarLocalCheckpoint(Local local)
    {
        valorSelecionadoLocalPartida = local.Id;
        usuarios.LatitudeAtual = local.LatitudeEntrada;
        usuarios.LongitudeAtual = local.LongitudeEntrada;
    }
}